.carousel {
  width: 70% !important;
  height: 200px;
  margin: auto;
}
h3{
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}

p{
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}
@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}